{
  "builders": [
{% if packer_build_type == 'lxd' %}
{% include 'builders/lxd_builder.json.j2' %}
{% endif %}


  ],
  "provisioners": [
{% for provisionner in packer_provision_modules %}
{% include provisionner.type + '_provisionner.json.j2' %},

{% endfor %}

{# ALWAYS remove unsecure packer ssh user #}
{% include 'remove_packer_user.json.j2' %}

  ],
  "post-processors": [

{% include 'lxd_postprocess_export_img.json.j2' %}

  ]
}