{
  "builders": [
    {
      "type": "virtualbox-iso",

      "iso_url": "{{ packer_ovf_iso_url }}",
      "iso_checksum": "{{ packer_ovf_iso_checksum }}",

      "vm_name": "packer-virtualbox-iso-ubuntu-18.04",
      "output_filename": "packer-virtualbox-iso-ubuntu-18.04",

      "boot_command": "{{ packer_ovf_boot_command }}",
      "boot_wait": "10s",

      "vboxmanage": [
          ["modifyvm", "{{'{{'}}.Name{{'}}'}}", "--memory", 512],
          ["modifyvm", "{{'{{'}}.Name{{'}}'}}", "--cpus", 1]
      ],

      "guest_additions_path": "VBoxGuestAdditions_{{'{{'}}.Version{{'}}'}}.iso",
      "guest_os_type": "Ubuntu_64",

      "hard_drive_interface": "sata",
      "sata_port_count": "8",

      "headless": true,

      "http_directory": "http",
      "ssh_password": "{{ packer_ovf_userpasswd }}",
      "ssh_port": 22,
      "ssh_username": "{{ packer_ovf_username }}",
      "ssh_wait_timeout": "10000s",

      "shutdown_command": "{{ shutdown_command }}",

      "virtualbox_version_file": ".vbox_version"
    }
  ],
  "provisioners": [
  ]
}

